@import "normalize";
@import "theme/dark";
@import "theme/light";
@import "variables/global.scss";

.app {
  font: var(--font-m);

  background-color: var(--background-color);
  color: var(--primary-color);
  min-height: 100vh;
}