.app.dark {
	--background-color: #212121;
	--inverted-background-color: #ffffff;

	--primary-color: #ffffff;
	--secondary-color: #bdbdbd;
	--inverted-primary-color: #212121;
	--inverted-secondary-color: #757575;
}
