.app.dark {
  --background-color: #0d1117;
  --secondary-background-color: #161b22;
  --inverted-background-color: #fff;
  --primary-color: var(--light-color);
  --secondary-color: #bdbdbd;
  --inverted-primary-color: var(--dark-color);
  --inverted-secondary-color: #757575;
}
