.app.dark {
  //bg
  --primary-background-color: #121212;
  --secondary-background-color: #171717;
  --inverted-background-color: #fff;
  --navbar-background-color: hsla(0, 0%, 9%, 0.8);
  --sidebar-background-color: var(--navbar-background-color);
  //text colors
  --primary-color: #f5f5f5;
  --secondary-color: hsla(0, 0%, 100%, 0.64);
  --inverted-primary-color: rgba(0, 0, 0, 0.87);
  --inverted-secondary-color: rgba(0, 0, 0, 0.6);
}
