.app.light {
  --background-color: #fff;
  --secondary-background-color: #24292f;
  --inverted-background-color: #212121;
  --primary-color: #212121;
  --secondary-color: #757575;
  --inverted-primary-color: #fff;
  --inverted-secondary-color: #bdbdbd;
}
