.app.light {
	--background-color: #ffffff;
	--inverted-background-color: #212121;

	--primary-color: #212121;
	--secondary-color: #757575;
	--inverted-primary-color: #ffffff;
	--inverted-secondary-color: #bdbdbd;
}
